/* Below line is used for online Google font */
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
h2{
    text-align: center;
    font-size: 24px;
}
hr{
    margin-bottom: 30px;
}
div.container{
    width: 540px;
    height: 610px;
    margin:0px auto;
    font-family: 'Droid Serif', serif;
    position:relative;
}
div.main{
    width: 320px;
    float:left;
    padding: 40px 70px;
    background-color: #EFEFEF;
    box-shadow: 0 0 10px;
    border-radius: 2px;
    font-size: 16px;
}
input[type=text] {
    width: 97.7%;
    height: 34px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 8px;
    box-shadow: 0 0 5px;
    border: 0px solid #432246;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 4px;
}
input[type=email] {
    width: 97.7%;
    height: 34px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 8px;
    box-shadow: 0 0 5px;
    border: 0px solid #432246;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 4px;
}
button.btn {
    height: 30px;
    margin: 7px 0px;
    padding: 0 20px;
    background: #a3a3c4;
    font-size: 16px;
    font-weight: 300;
    float:left;
    border-radius: 5px;
}

label{
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}
#button {
    width: 100%;
    background: linear-gradient(#22abe9 5%, #36caf0 100%);
    border: 1px solid #0F799E;
    font-size: 20px;
    margin-top: 15px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-shadow: 0px 1px 0px #13506D;
}
#button:hover{
    background: linear-gradient(#36caf0 5%, #22abe9 100%);
}
